<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hibernate.connection.url">jdbc:mysql://jutter.online:3306/kzt_library?useSSL=false&amp;useUnicode=true&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">kzt_lib_uzer</property>
        <property name="hibernate.connection.password">fgdsgfsd90dfsg-fdgsgdf8fdsg9</property>
        <property name="hibernate.connection.pool_size">10000</property>
        <property name="hibernate.connection.">10000</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Entity Mapping -->
        <mapping class="online.jutter.kztlibrary.data.db.ent.UserEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.UserAchivmentEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.AchivmentsEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.NewsEntity"/>


        <mapping class="online.jutter.kztlibrary.data.db.ent.RequestEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.RequestPageEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.RequestPageLineEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.DocumentEntity"/>

        <mapping class="online.jutter.kztlibrary.data.db.ent.CourseEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.LessonEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.LessonPageEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.LessonPageAnswerEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.ChecklistItemEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.UserChecklistItemEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.UserFinishedLessonEntity"/>

        <mapping class="online.jutter.kztlibrary.data.db.ent.NotificationEntity"/>

        <mapping class="online.jutter.kztlibrary.data.db.ent.BookEntity"/>
        <mapping class="online.jutter.kztlibrary.data.db.ent.UserBookEntity"/>

    </session-factory>
</hibernate-configuration>